.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    justify-content: left;
    left: 5px;
    border: 2px solid black;
    background-color: #8CFFF0;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Actor';
  }

  h2{
    font-family: 'Dekko';
  }

  .navbarbutton
  {
    border-bottom: 2px solid black;
    height: 39px;
    text-decoration: none;
  }

  body 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #FAFF5E;

    margin-left: 150px;
    margin-right: 150px;
}

div
{
    background-color: #8CFFF0;
    border-radius: 25px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.19);

}

header, footer 
{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: black;
    background-color: #FAFF5E;
}

main 
{
    margin-left: 120px;
    margin-right: 120px;
}

.image
{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titlepage
{
    text-align: center;
}

.centertext
{
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
 }

.bx-wrapper {
	margin-bottom: 20px;
    max-width: 800px;
text-align: center;
margin-left: auto;
margin-right: auto;
}
#id_pager {
	text-align: center;
	font-size: 90%;
	color: green;
}

.centerslide
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutusparagraph {
    justify-content: left;
    margin-left: 30px;
    margin-right: 30px;
}

.parentdiv {
    display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
}

.childdiv {
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid yellow;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formpadding {padding: 15px;}

.companytitle {
    font-family: 'Actor';
    font-size: 35px;
}